<section class="menuPrincipal">
  <div class="container">
    <nav class="navbarPrincipal">
      <ul class="navbarPrincipal__lista">
        <li
          class="navbarPrincipal__item"
          [routerLink]="['/']"

        >
          <a class="text-decoration-none navbarPrincipal__link">Inicio</a>
        </li>

        <li
          class="navbarPrincipal__item"
          [routerLink]="['/formularios']"
          routerLinkActive="menuActivo"
          *ngIf="existeUsuario"
        >
          <a class="text-decoration-none navbarPrincipal__link">Inscripción</a>
        </li>

        <li
          class="navbarPrincipal__item"
          [routerLink]="['/registro']"
          routerLinkActive="menuActivo"
          *ngIf="!existeUsuario"
        >
          <a class="text-decoration-none navbarPrincipal__link">Registro</a>
        </li>

        <li
          class="navbarPrincipal__item"
          [routerLink]="['/login']"
          routerLinkActive="menuActivo"
          *ngIf="!existeUsuario"
        >
          <a class="text-decoration-none navbarPrincipal__link">Login</a>
        </li>

        <li class="navbarPrincipal__item"
        (click)="cerrarSession()"
        *ngIf="existeUsuario"
        >
          <a class="text-decoration-none navbarPrincipal__link"
            >Cerrar Sesión</a
          >
        </li>

      </ul>
    </nav>
  </div>
</section>

<section class="stepPagina">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-12">
        <h2 class="m-0 display-5">{{ paginaActual }}</h2>
      </div>
    </div>
  </div>
</section>
