.login {
  box-shadow: 2px 2px 3px black;
  border-radius: 10px;
  margin-bottom: 25px;
}

.alertFixed {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  width: 100%;
  height: auto;
  max-height: 80px;
  z-index: 1000;
  & small{
    padding: 10px 0;
  }
}

.pantallaCarga{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.466);
  z-index: 1010;
  &::after{
    content: '';
    position: fixed;
    display: block;
    background-image: url('../imgs/spinerCarga.svg');
    background-position: center;
    background-repeat: no-repeat;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;


  }
}

