

.image {
  height: 130px;
}
.cabeceraPrimaria {
  background-color: $ColorMain;
  padding: 6px 0;
  font-family: $fontRoboto;
}

.headerUsuario {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    z-index: -10;
    /* background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(17,0,255,1) 55%, rgba(17,0,255,1) 100%); */
    background: #0424c2;
    right: 0px;
    top: 0;
    width: 50%;
    transform: scaleX(1);
  }

  &::after {
    border-style: solid;
    border-width: 0px;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 43%;
    position: absolute;
    right: 100%;

    top: 0;
    transform: skewX(-40deg);
    width: 40%;
    z-index: -1;
    /* background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(17,0,255,1) 55%, rgba(17,0,255,1) 100%); */
    background: -o-linear-gradient(left, rgba(168,183,255,1) 0%, rgba(4,36,194,1) 100%);
background: -ms-linear-gradient(left, rgba(168,183,255,1) 0%, rgba(4,36,194,1) 100%);
background: linear-gradient(to right, rgba(168,183,255,1) 0%, rgba(4,36,194,1) 100%);

  }
}
.borderBottomDorado{
  border-bottom: 2px solid $ColorMain ;
}
.centradoGrid {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}

/* MENU PRINCIPAL */


.menuPrincipal{


  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(232,232,232,1) 22%, rgba(204,204,204,1) 58%, rgba(191,191,191,1) 76%, rgba(179,179,179,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(1%, rgba(255,255,255,1)), color-stop(22%, rgba(232,232,232,1)), color-stop(58%, rgba(204,204,204,1)), color-stop(76%, rgba(191,191,191,1)), color-stop(100%, rgba(179,179,179,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(232,232,232,1) 22%, rgba(204,204,204,1) 58%, rgba(191,191,191,1) 76%, rgba(179,179,179,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(232,232,232,1) 22%, rgba(204,204,204,1) 58%, rgba(191,191,191,1) 76%, rgba(179,179,179,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(232,232,232,1) 22%, rgba(204,204,204,1) 58%, rgba(191,191,191,1) 76%, rgba(179,179,179,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(232,232,232,1) 22%, rgba(204,204,204,1) 58%, rgba(191,191,191,1) 76%, rgba(179,179,179,1) 100%);

position: relative;
border-top: 4px solid #e4b54e;
border-bottom: 1px solid #c2c1c1;
width: 100%;
z-index: 1000!important;
}




.navbarPrincipal{




  &__lista{
    margin: 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    list-style: none;
    padding: 0;
  }
  &__item{
    align-items: center;
    display: flex;
    flex: 0 1 201px;
    position: relative;
    cursor: pointer;

    &:hover .navbarPrincipal__link{
      background-color: $ColorMain;
      color: white;
      transition: background-color .5s ease;
      &::before{
        content: '';
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: $ColorMain;

      }
    }
  }
  &__link{
    text-transform: uppercase;
    transition: background-color .5s ease, color  .5s ease ;
    padding: 5px 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
    align-items: center;
  }
}
.menuActivo .navbarPrincipal__link{
  background-color: $ColorMain;
  color: white;
  transition: background-color 0.5s ease;
  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: $ColorMain;
  }
}


.stepPagina{
  /* background: linear-gradient(to right,#e7be64 0%,#000000 100%); */
  background-color: rgba(133, 133, 133, 0.644);

  width: 100%;
  height: 100px;
  color: white;
}

.mh-33{
  min-height: 32.7vh;
}

@media (max-width: 767px) {
  .headerUsuario {
    &::before{
      background: -o-linear-gradient(left, rgba(168,183,255,1) 0%, rgba(4,36,194,1) 100%);
background: -ms-linear-gradient(left, rgba(168,183,255,1) 0%, rgba(4,36,194,1) 100%);
background: linear-gradient(to right, rgba(168,183,255,1) 0%, rgba(4,36,194,1) 100%);
    }
    &::after {
      display: none;
    }
  }

}

@media (max-width: 575px) {
  .headerUsuario {
    &::before {
      display: none;
    }
  }
  .fondoNegroSm {
    background: -o-linear-gradient(left, rgba(168,183,255,1) 0%, rgba(4,36,194,1) 100%);
background: -ms-linear-gradient(left, rgba(168,183,255,1) 0%, rgba(4,36,194,1) 100%);
background: linear-gradient(to right, rgba(168,183,255,1) 0%, rgba(4,36,194,1) 100%);
    padding: 10px 0;
  }
}


.imagenContenedor{
  max-height: 25rem;
  & .carousel-item img{
    max-height: 25rem;
  }
}

.form-group{
  label{
    font-size: 0.875em;
  }
}

.imageCard{
  height: 200px;
}

.adminCard{

  transition: transform .5s;
  cursor: pointer;
  &:hover{
    transform: translateX(10px) skew(2deg);
    box-shadow: -4px 5px 10px black;
    animation-name: boxshadowEfect;
    animation-duration: .5s;
    animation-timing-function: linear;


  }
}

.efectoBoxShadow{
  &:hover{
    box-shadow: -2px 2px 5px black;
    animation-name: boxshadowEfectButton;
    animation-duration: .5s;
    animation-timing-function: linear;
  }
}


@keyframes boxshadowEfectButton{
  0%{
    box-shadow: 0 0 0 transparent;
  }
  75%{
    box-shadow: -2px 2px 5px black;
  }
}


@keyframes boxshadowEfect{
  0%{
    box-shadow: 0 0 0 transparent;
  }
  75%{
    box-shadow: -4px 5px 10px black;
  }
}



.imagenesMedio{
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 0;
  img{
    width: 80px;
    height: 80px;
  }
}

.imagenesMedio2{
  @extend .imagenesMedio;
  left: 0;
  right: auto;
}

.zmax{
  z-index: 10;
}

@media (max-width:991px){
  .imagenesMedio{
    top: 70px;
  }
}

@media (max-width:767px){
  .headerUsuario{
    &::before{
      background: -o-linear-gradient(left, rgba(168,183,255,1) 0%, rgba(4,36,194,1) 100%);
background: -ms-linear-gradient(left, rgba(168,183,255,1) 0%, rgba(4,36,194,1) 100%);
background: linear-gradient(to right, rgba(168,183,255,1) 0%, rgba(4,36,194,1) 100%);
    }
  }
  .imagenesMedio{
    top: 10px;
  }
}


@media (max-width:575px){
  .imagenesMedio{
    top: 38px;
  }
}

@media (max-width:450px){
  .imagenesMedio{
    top: 15px;
    z-index: 1;
  }
}

@media (max-width:341px){
  .imagenesMedio{
    top: 30px;
  }
}
