<mat-dialog-content >
  <mat-horizontal-stepper linear #stepper class="col-12">





    <mat-step [stepControl]="formInscripcion">
      <form [formGroup]="formInscripcion" class="was-validated">
        <ng-template matStepLabel>Inscripción</ng-template>
        <div>

          <fieldset>
            <legend>Pago de inscripción</legend>

            <div class="row">
              <div class="col-md-4 form-group col-12">
                <label for="fullname_titular_inscripcion">Apellidos y Nombres <small class="text-danger">titular de la cuenta</small></label>
                <input type="text" name="fullname_titular_inscripcion" placeholder="Apellidos y Nombres"
                class="form-control"
                required formControlName="fullname_titular_inscripcion">
              </div>

              <div class="col-md-4 form-group col-12">
                <label for="nacionalidad_titular_inscripcion">Nacionalidad</label>
                <select formControlName="nacionalidad_titular_inscripcion" name="nacionalidad_titular_inscripcion" required class="form-control">
                  <option value="">Seleccione</option>
                  <option *ngFor="let nacio of nacionalidad" [value]="nacio.letraIdentificacion">{{nacio.identificacion}}</option>
                  <option value="J">Jurídico ( J )</option>
                </select>
              </div>

              <div class="col-md-4 form-group col-12">
                <label for="cedula_titular_inscripcion">Cédula <small class="text-danger">titular de la cuenta</small></label>
                <input type="text" required formControlName="cedula_titular_inscripcion" name="cedula_titular_inscripcion" class="form-control" placeholder="Cédula" pattern="[0-9]+">
              </div>

              <div class="col-md-4 form-group col-12">
                <label for="fecha_bancaria_inscripcion">Fecha bancaria</label>
                <input type="date" class="form-control" required formControlName="fecha_bancaria_inscripcion" name="fecha_bancaria_inscripcion">
              </div>
              <div class="col-md-4 form-group col-12">
                <label for="referencia_bancaria_inscripcion">Referencia bancaria</label>
                <input required pattern="[0-9]+" type="text" class="form-control" name="referencia_bancaria_inscripcion" formControlName="referencia_bancaria_inscripcion" placeholder="Referencia">
              </div>

              <div class="col-md-4 col-12 form-group">
                <label for="">Comprobante de transferencia</label>
                <input #fileInscripcion type="file" class="d-block" accept="image/png, .jpeg, .jpg, .pdf" required>
              </div>


              <div class="col-12 form-group text-center">
                <button type="button" matStepperNext class="btn btn-secondary">
                  Siguiente
                </button>
              </div>


            </div>

          </fieldset>

        </div>
      </form>
    </mat-step>



    <mat-step [stepControl]="formMensualidad">
      <form [formGroup]="formMensualidad" class="was-validated">
        <ng-template matStepLabel>Mensualidad</ng-template>
        <div>

          <fieldset>
            <legend>Pago de mensualidad</legend>

            <div class="row">
              <div class="col-md-4 form-group col-12">
                <label for="fullname_titular_mensualidad">Apellidos y Nombres <small class="text-danger">titular de la cuenta</small></label>
                <input type="text" name="fullname_titular_mensualidad" placeholder="Apellidos y Nombres"
                class="form-control"
                required formControlName="fullname_titular_mensualidad">
              </div>

              <div class="col-md-4 form-group col-12">
                <label for="nacionalidad_titular_mensualidad">Nacionalidad</label>
                <select formControlName="nacionalidad_titular_mensualidad" name="nacionalidad_titular_mensualidad" required class="form-control">
                  <option value="">Seleccione</option>
                  <option *ngFor="let nacio of nacionalidad" [value]="nacio.letraIdentificacion">{{nacio.identificacion}}</option>
                  <option value="J">Jurídico ( J )</option>
                </select>
              </div>

              <div class="col-md-4 form-group col-12">
                <label for="cedula_titular_mensualidad">Cédula <small class="text-danger">titular de la cuenta</small></label>
                <input type="text" required formControlName="cedula_titular_mensualidad" name="cedula_titular_mensualidad" class="form-control" placeholder="Cédula">
              </div>

              <div class="col-md-4 form-group col-12">
                <label for="fecha_bancaria_mensualidad">Fecha bancaria</label>
                <input type="date" class="form-control" required formControlName="fecha_bancaria_mensualidad" name="fecha_bancaria_mensualidad">
              </div>

              <div class="col-md-4 form-group col-12">
                <label for="referencia_bancaria_mensualidad">Referencia bancaria</label>
                <input type="text" class="form-control" name="referencia_bancaria_mensualidad" formControlName="referencia_bancaria_mensualidad" placeholder="Referencia" pattern="[0-9]+" required>
              </div>

              <div class="col-md-4 col-12 form-group">
                <label for="">Comprobante de transferencia</label>
                <input required type="file" #fileMensualidad class="d-block" accept="image/png, .jpeg, .jpg, .pdf" required>
              </div>


              <div class="col-12 form-group text-center">
                <button type="button" matStepperPrevious class="btn btn-secondary mx-1">
                  Anterior
                </button>

                <button class="btn btn-success" (click)="guardarDatos()" *ngIf="data.consejo">
                  Guardar
                </button>

                <button type="button" matStepperNext class="btn btn-secondary mx-1" *ngIf="!data.consejo">
                  Siguiente
                </button>
              </div>


            </div>

          </fieldset>

        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="formConsejo" *ngIf="!data.consejo">
      <form [formGroup]="formConsejo" class="was-validated">
        <ng-template matStepLabel>Consejo educativo</ng-template>
        <div>

          <fieldset>
            <legend>Pago de consejo educativo</legend>

            <div class="row">
              <div class="col-md-4 form-group col-12">
                <label for="fullname_titular_consejo">Apellidos y Nombres <small class="text-danger">titular de la cuenta</small></label>
                <input type="text" name="fullname_titular_consejo" placeholder="Apellidos y Nombres"
                class="form-control"
                required formControlName="fullname_titular_consejo">
              </div>

              <div class="col-md-4 form-group col-12">
                <label for="nacionalidad_titular_consejo">Nacionalidad</label>
                <select name="nacionalidad_titular_consejo" formControlName="nacionalidad_titular_consejo" required class="form-control">
                  <option value="">Seleccione</option>
                  <option *ngFor="let nacio of nacionalidad" [value]="nacio.letraIdentificacion">{{nacio.identificacion}}</option>
                  <option value="J">Jurídico ( J )</option>
                </select>
              </div>

              <div class="col-md-4 form-group col-12">
                <label for="cedula_titular_consejo">Cédula <small class="text-danger">titular de la cuenta</small></label>
                <input type="text" required formControlName="cedula_titular_consejo" name="cedula_titular_consejo" class="form-control" placeholder="Cédula">
              </div>

              <div class="col-md-4 form-group col-12">
                <label for="fecha_bancaria_consejo">Fecha bancaria</label>
                <input type="date" class="form-control" required formControlName="fecha_bancaria_consejo" name="fecha_bancaria_consejo">
              </div>

              <div class="col-md-4 form-group col-12">
                <label for="referencia_bancaria_consejo">Referencia bancaria</label>
                <input type="text" class="form-control" name="referencia_bancaria_consejo" formControlName="referencia_bancaria_consejo" placeholder="Referencia" pattern="[0-9]+" required>
              </div>

              <div class="col-md-4 col-12 form-group">
                <label for="">Comprobante de transferencia</label>
                <input required type="file" class="d-block" accept="image/png, .jpeg, .jpg, .pdf" required #fileConsejo>
              </div>


              <div class="col-12 form-group text-center">
                <button type="button" matStepperPrevious class="btn btn-secondary mx-1">
                  Anterior
                </button>
                <button type="button" (click)="guardarDatos()"  class="btn btn-success mx-1">
                  Guardar
                </button>
              </div>


            </div>

          </fieldset>

        </div>
      </form>
    </mat-step>


  </mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-end">
  <button class="btn btn-danger mx-1" [mat-dialog-close]="true">Cerrar</button>
</mat-dialog-actions>

