<div class="row">
  <div class="col-12 table-responsive ">
    <table class="table text-center table-striped table-hover">

      <thead>
        <th>Apellido y Nombre</th>
        <th>Cedula</th>
        <th>Acciones</th>
      </thead>
      <tbody>
        <tr *ngIf="data.length === 0 && existeMayor">
          <td colspan="4">Buscando Datos...</td>
        </tr>
        <tr *ngIf="data.length === 0 && !existeMayor">
          <td colspan="4">No hay estudiantes {{estado}}</td>
        </tr>
        <tr *ngFor="let usuario of data">
          <td> {{usuario.nombreCompleto}} </td>
          <td> {{usuario.cedula}} </td>
          <td>
            <button class="btn btn-info efectoBoxShadow" (click)="openDialog(usuario.cedula, usuario.id)">
              <img src="./assets/icons/searchIcon.svg" class="iconoButton" alt="Buscador">
            </button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <div class="col-12">
    <app-paginacion [paginacion]="paginacion" (emitir)="recibirPaginacion($event)" *ngIf="paginacion"></app-paginacion>
  </div>
</div>
