<form #formularioData="ngForm" class="was-validated" (ngSubmit)="guardarData(formularioData.form)">
  <small class="text-danger col-12">Los campos marcados con ( * ) son requeridos</small>
  <fieldset>
    <legend>Datos de identificación de la madre</legend>
    <div class="row">

      <div class="col-md-6  form-group">
        <label for="nacionalidad">Nacionalidad: *</label>
        <select required [(ngModel)]="datosPadre.nacionalidad" name="nacionalidad" #naciona="ngModel"  class="form-control">
          <option value="">Seleccione la nacionalidad</option>
          <option *ngFor="let nacio of nacionalidad" [value]="nacio.letraIdentificacion">{{nacio.identificacion}}</option>
        </select>
      </div>

      <div class="col-md-6  form-group">
        <label for="cedula">Cedula: *</label>
        <input type="text" required [readOnly]="datosPadre.nacionalidad === ''" name="cedula" #cedula="ngModel" (blur)="verificarCedula($event)" class="form-control" [(ngModel)]="datosPadre.cedula" placeholder="Ej: 000000000" maxlength="11" pattern="[0-9]+">
      </div>

      <div class="col-md-4 col-lg-4 form-group">
        <label for="nombres">Nombres: *</label>
        <input type="text" [readOnly]="blockDatos" required name="nombres" #nombres="ngModel" class="form-control" [(ngModel)]="datosPadre.nombres" placeholder="Ej: Angela del Carmen">
      </div>

      <div class="col-md-4 col-lg-4 form-group">
        <label for="apellidos">Apellidos: *</label>
        <input type="text" [readOnly]="blockDatos" required name="apellidos" #apellidos="ngModel" class="form-control" [(ngModel)]="datosPadre.apellidos" placeholder="Ej: Alvarez Suarez">
      </div>

      <div class="col-md-4 col-lg-4 form-group">
        <label for="lugar_nacimiento">Lugar de nacimiento: *</label>
        <input type="text" [readOnly]="blockDatos" required name="lugar_nacimiento" #lugar_nacimiento="ngModel" class="form-control" [(ngModel)]="datosPadre.lugar_nacimiento" placeholder="Ej: Coro">
      </div>

      <div class="col-md-4 col-lg-3 form-group">
        <label for="fecha_nacimiento">Fecha de nacimiento: *</label>
        <input type="date" [readOnly]="blockDatos" required name="fecha_nacimiento" #fecha_nacimiento="ngModel" class="form-control" [(ngModel)]="datosPadre.fecha_nacimiento" placeholder="Ej: DD/MM/YYYY">
      </div>

      <div class="col-md-4 col-lg-6 form-group">
        <label for="direccion">Dirección de Hab: *</label>
        <input type="text" [readOnly]="blockDatos" required name="direccion" #direccion="ngModel" class="form-control" [(ngModel)]="datosPadre.direccion" placeholder="Ej: Avenida principal">
      </div>

      <div class="col-md-4 col-lg-3 form-group">
        <label for="celular">Celular:</label>
        <input type="text"  [readOnly]="blockDatos" name="celular" #celular="ngModel" class="form-control" [(ngModel)]="datosPadre.celular" placeholder="Ej: 04120000000" pattern="[0-9]+">
      </div>

      <div class="col-md-4 col-lg-4 form-group">
        <label for="email">Email: </label>
        <input type="text" [readOnly]="blockDatos" name="email" #email="ngModel" class="form-control" [(ngModel)]="datosPadre.email" placeholder="Ej: ejemplo@ejemplo.com" [pattern]="patronE">
      </div>

      <div class="col-md-4 col-lg-4 form-group">
        <label for="tlf_local">Teléfono Local:</label>
        <input type="text" [readOnly]="blockDatos" name="tlf_local" #tlf_local="ngModel" class="form-control" [(ngModel)]="datosPadre.tlf_local" placeholder="Ej: 02930000000" pattern="[0-9]+">
      </div>

      <div class="col-md-4 col-lg-4 form-group">
        <label for="estado_civil">Estado civil: *</label>
        <select required [disabled]="blockDatos" name="estado_civil" #estado_civil="ngModel" class="form-control" [(ngModel)]="datosPadre.estado_civil" >
          <option value="">Seleccione su estado civil</option>
          <option *ngFor="let civil of Ecivil" [value]="civil">{{civil}}</option>
        </select>
      </div>


      <!-- INFORMACION RELIGIOSA -->

      <div class="col-md-4 col-lg-3 form-group">
        <label for="religion">Religión: * </label>
        <input type="text" required [readOnly]="blockDatos" name="religion" #religion="ngModel" class="form-control" [(ngModel)]="datosPadre.religion" placeholder="Ej: Católica" >
      </div>



      <div class="col-md-4 col-lg-6 form-group">
        <label for="reconciliacion">Frecuenta sacramento de reconciliación: *</label>
        <select [disabled]="blockDatos" required name="reconciliacion" #reconciliacion="ngModel" class="form-control" [(ngModel)]="datosPadre.reconciliacion" >
          <option value="" selected disabled>Seleccione</option>
          <option value="Si">Si</option>
          <option value="No">No</option>
        </select>
      </div>

      <div class="col-md-4 col-lg-3 form-group">
        <label for="va_misa">Asiste los domingos a misa: *</label>
        <select required [disabled]="blockDatos" type="text" name="va_misa" #va_misa="ngModel" class="form-control" [(ngModel)]="datosPadre.va_misa" >
          <option value="" disabled selected>Seleccione</option>
          <option value="Si">Si</option>
          <option value="No">No</option>
          </select>
      </div>

      <div class="col-md-4 col-lg-6 form-group">
        <label for="grupo_apostolico">Pertenece a un grupo apostólico dentro de la iglesia católica: *</label>
        <select [disabled]="blockDatos" required name="grupo_apostolico" #grupo_apostolico="ngModel" class="form-control" [(ngModel)]="datosPadre.grupo_apostolico" >
          <option value="" selected disabled>Seleccione</option>
          <option value="Si">Si</option>
          <option value="No">No</option>
        </select>
      </div>

      <div class="col-md-4 col-lg-3 form-group" *ngIf="datosPadre.grupo_apostolico === 'Si'">
        <label for="nombre_grupo">Cual?:</label>
        <input [readOnly]="blockDatos" [required]="datosPadre.grupo_apostolico === 'Si'" type="text" name="nombre_grupo" #nombre_grupo="ngModel" class="form-control" [(ngModel)]="datosPadre.nombre_grupo" placeholder="Ej: ">
      </div>

      <div class="col-md-4 col-lg-3 form-group" *ngIf="datosPadre.grupo_apostolico === 'Si'">
        <label for="parroquia">En que parroquia?:</label>
        <input [readOnly]="blockDatos" [required]="datosPadre.grupo_apostolico === 'Si'" type="text" name="parroquia" #parroquia="ngModel" class="form-control" [(ngModel)]="datosPadre.parroquia" placeholder="Ej: Santisima trinidad" >
      </div>

      <div class="col-md-4 col-lg-3 form-group">
        <label for="nivel_academico">Nivel académico: *</label>
        <select required [disabled]="blockDatos" name="nivel_academico" #nivel_academico="ngModel" class="form-control" [(ngModel)]="datosPadre.nivel_academico" >
          <option value="" selected disabled>Seleccione</option>
          <option *ngFor="let nivel of NivelA" [value]="nivel">{{nivel}}</option>
        </select>
      </div>

      <div class="col-md-4 col-lg-3 form-group" [ngClass]="{'col-lg-6': datosPadre.grupo_apostolico  === 'Si'}">
        <label for="jubilado">Jubilado?: *</label>
        <select required [disabled]="blockDatos" name="jubilado" #jubilado="ngModel" class="form-control" [(ngModel)]="datosPadre.jubilado" >
          <option value="" selected disabled>Seleccione</option>
          <option value="Si">Si</option>
          <option value="No">No</option>
        </select>
      </div>

      <div class="col-md-4 col-lg-3 form-group" [ngClass]="{'col-lg-4': datosPadre.grupo_apostolico  !== 'Si'}">
        <label for="profesion">Profesión?: *</label>
        <input required [readOnly]="blockDatos" type="text" name="profesion" #profesion="ngModel" class="form-control" [(ngModel)]="datosPadre.profesion" placeholder="Ej: Electricista" >
      </div>

      <div class="col-md-4 col-lg-3 form-group" [ngClass]="{'col-lg-4': datosPadre.grupo_apostolico  !== 'Si', 'col-lg-6': datosPadre.grupo_apostolico === 'Si'}">
        <label for="ocupacion">Ocupación?: *</label>
        <input [readOnly]="blockDatos" required type="text" name="ocupacion" #ocupacion="ngModel" class="form-control" [(ngModel)]="datosPadre.ocupacion" placeholder="Ej: Profesor" >
      </div>

      <div class="col-md-4 col-lg-3 form-group" [ngClass]="{'col-lg-4': datosPadre.grupo_apostolico  !== 'Si', 'col-lg-6': datosPadre.grupo_apostolico === 'Si'}">
        <label for="trabaja">Trabaja actualmente?: *</label>
        <select required [disabled]="blockDatos" name="trabaja" #trabaja="ngModel" class="form-control" [(ngModel)]="datosPadre.trabaja" >
          <option value="" selected disabled>Seleccione</option>
          <option value="Si">Si</option>
          <option value="No">No</option>
        </select>
      </div>

      <div class="col-md-4 col-lg-3 form-group" *ngIf="datosPadre.trabaja === 'Si'" >
        <label for="cargo">Cargo:</label>
        <input [required]="datosPadre.trabaja === 'Si'" [readOnly]="blockDatos" type="text" name="cargo" #cargo="ngModel" class="form-control" [(ngModel)]="datosPadre.cargo" placeholder="Ej: Supervisor" >
      </div>


      <div class="col-md-4 col-lg-6 form-group" *ngIf="datosPadre.trabaja === 'Si'" >
        <label for="direccion_empresa">Dirección de trabajo: </label>
        <input [readOnly]="blockDatos" [required]="datosPadre.trabaja === 'Si'" type="text" name="direccion_empresa" #direccion_empresa="ngModel" class="form-control" [(ngModel)]="datosPadre.direccion_empresa" placeholder="Ej: Av. las delicias" >
      </div>

      <div class="col-md-4 col-lg-3 form-group" *ngIf="datosPadre.trabaja === 'Si'">
        <label for="empresa">¿Donde?: </label>
        <input [readOnly]="blockDatos" [required]="datosPadre.trabaja  === 'Si'" type="text" name="empresa" #empresa="ngModel" class="form-control" [(ngModel)]="datosPadre.empresa" placeholder="Ej: Cervecería Polar C.A." >
      </div>

      <div class="col-md-4 col-lg-6 form-group" *ngIf="datosPadre.trabaja === 'Si'">
        <label for="tlf_empresa">Teléfono del trabajo: </label>
        <input [readOnly]="blockDatos" [required]="datosPadre.trabaja === 'Si'" type="text" name="tlf_empresa" #tlf_empresa="ngModel" class="form-control" [(ngModel)]="datosPadre.tlf_empresa" placeholder="Ej: 0212000000" maxlength="11">
      </div>


      <div class="col-md-4 col-lg-6 form-group" *ngIf="datosPadre.trabaja === 'Si'">
        <label for="viaja">Frecuencia que viaja fuera del país por trabajo: </label>
        <select [disabled]="blockDatos" [required]="datosPadre.trabaja === 'Si'" type="text" name="viaja" #viaja="ngModel" class="form-control" [(ngModel)]="datosPadre.viaja" >
          <option value="" selected disabled>Seleccione</option>
          <option *ngFor="let via of frecuenciaVia" [value]="via">{{via}}</option>

          </select>
      </div>
<!--
      <div class="col-12" >
        <div class="alert alert-danger alertFixed" *ngIf="formularioData.invalid && formularioData.touched">

          <small class="d-block" *ngIf="canaima.invalid && canaima.touched">
            {{sharedSvc.validarCampos(canaima, 'Seleccione si posée canaima')}}
          </small>


        </div>
      </div> -->




      <div class="text-center col-12 my-3">
        <button type="submit" class="btn btn-primary">
          Guardar y continuar
        </button>
      </div>

    </div>
  </fieldset>



</form>
