<h2 mat-dialog-title class="text-center">Detalle de la estudiante</h2>
<mat-dialog-content >

  <div class="row" *ngIf="usuario">
    <div class="col-12 form-group  col-md-8">
      <label for="usuario">Apellidos y Nombres:</label>
      <input type="text" name="usuario" [title]="usuario.nombreCompleto" disabled [ngModel]="usuario.nombreCompleto" class="form-control">
    </div>

    <div class="col-12 form-group  col-md-4">
      <label for="cedula">Cedula:</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> {{usuario.nacionalidad}} </span>
        </div>
        <input type="text" name="cedula" readonly [title]="usuario.cedula" [(ngModel)]="usuario.cedula" class="form-control">
      </div>
    </div>

    <div class="col-12 form-group  col-md-4">
      <label for="celular">Celular:</label>
      <input type="text" name="celular" [title]="usuario.celular" readonly [(ngModel)]="usuario.celular" class="form-control">
    </div>

    <div class="col-12 form-group  col-md-4">
      <label for="status">Status:</label>
      <input type="text" name="status" [title]="usuario.status" readonly [(ngModel)]="usuario.status" class="form-control">
    </div>

    <div class="col-12 form-group  col-md-4">
      <label for="tipo">Tipo de usuario:</label>
      <input type="text" name="tipo" [title]="usuario.tipo" readonly [(ngModel)]="usuario.tipo" class="form-control">
    </div>

    <div class="col-12 form-group col-md-8 ">
      <label for="email">Email del usuario:</label>
      <input type="text" name="email" [title]="usuario.email" readonly [(ngModel)]="usuario.email" class="form-control">
    </div>

    <div class="col-12 form-group col-md-4">
      <label for="grado">Año / Grado</label>
      <input type="text" name="grado" [title]="" readonly class="form-control">
    </div>








  </div>


</mat-dialog-content>
<mat-dialog-actions class="justify-content-end">
  <button class="btn btn-danger  mx-1" mat-dialog-close>Cerrar</button>
  <button class="btn btn-success mx-1" (click)="activarUsuario()">Activar</button>
</mat-dialog-actions>
