<div class="modal fade" id="exampleModal" #modal tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title  mx-auto text-uppercase" id="exampleModalLabel">Sistema inhabilitado</h5>
      </div>
      <div class="modal-body text-center">

        <img src="./assets/imgs/madre/6.png" class="w-75 mx-auto d-block h-50"  alt="madre maria">

        <p class="font-weight-bold text-center text-uppercase">Muy pronto estará disponible el sistema online</p>
      </div>
      <div class="modal-footer">

        <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-danger">Cerrar</button>
      </div>
    </div>
  </div>
</div>
