<section class="cabeceraPrimaria">
  <div class="container text-center text-white">
    <small class="">Bienvenidos al Instituto Agustiniano Madre María</small>
  </div>
</section>

<header class="headerUsuario borderBottomDorado">
  <div class="container">
    <div class="row pt-3 pb-0 pb-sm-3">
      <div class="col-sm-6 pb-2 text-center text-sm-left">
        <img class="image" src="./assets/imgs/logo.jpg" alt="logo Colegio" />
        <img class="image" src="./assets/imgs/corazon.jpg" alt="logo Corazón" />
        <img src="./assets/TransparenciaBeata.png" alt="beata" class="image" />
      </div>
      <div
        class="col-sm-6 fondoNegroSm text-white text-center align-middle text-sm-right position-relative"
      >

      <div>

      </div>

      <div class="imagenesMedio">
        <img src="./assets/imgs/madre/7.png"  >
      </div>

      <div class="imagenesMedio2">
        <img src="./assets/imgs/madre/3.png"  >
      </div>
        <div class="h-100 centradoGrid">
          <h4 class="m-0 zmax">Unidad Educativa Instituto Agustiniano</h4>
          <h1 class="m-0 display-4 zmax">Madre María</h1>
        </div>
      </div>
    </div>
  </div>
</header>
