<h3 class="text-center">Bienvenido: <strong> {{ nombres }} </strong></h3>


<div class="row pt-4">

  <div class="col-12 col-md-4">
    <div class="card text-center adminCard" [routerLink]="['usuarios','agregar']">
      <div class="card-header text-uppercase">
        <strong>Usuarios</strong>
      </div>

      <div class="card-body">
        <img src="./assets/imgs/userIcons2.svg" class="imageCard" alt="">
      </div>
    </div>
  </div>

   <div class="col-12 col-md-4">
    <div class="card text-center adminCard" [routerLink]="['usuarios','agregar']">
      <div class="card-header text-uppercase">
        <strong>Usuarios</strong>
      </div>

      <div class="card-body">
        <img src="./assets/imgs/userIcons2.svg" class="imageCard" alt="">
      </div>
    </div>
  </div>

   <div class="col-12 col-md-4">
    <div class="card text-center adminCard" [routerLink]="['usuarios','agregar']">
      <div class="card-header text-uppercase">
        <strong>Usuarios</strong>
      </div>

      <div class="card-body">
        <img src="./assets/imgs/userIcons2.svg" class="imageCard" alt="">
      </div>
    </div>
  </div>



</div>
