<div class="row">

  <div class="col-12 col-md-3">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action" routerLinkActive="active" [routerLink]="['agregar']" >
        Agregar administrador
      </a>
      <a class="list-group-item list-group-item-action" routerLinkActive="active" [routerLink]="['listar']">
        Listar estudiantes <small>(Inactivos)</small>
      </a>

      <a class="list-group-item list-group-item-action" [routerLink]="['listar-activos']" routerLinkActive="active" >
        Listar estudiantes <small>(Activos)</small>
      </a>

      <a class="list-group-item list-group-item-action" [routerLink]="['consultar-usuario']" routerLinkActive="active" >
        Consultar usuario
      </a>

      <a class="list-group-item list-group-item-action" [routerLink]="['modificar-usuario']" routerLinkActive="active" >
        Modificar estudiante
      </a>

      <a class="list-group-item list-group-item-action" [routerLink]="['eliminar-estudiante']" routerLinkActive="active" >
        Eliminar estudiante
      </a>

      <a class="list-group-item list-group-item-action" target="_blank" [href]="url+'planilla/listado/representantes'">
        Listado de representantes
      </a>

    </div>

  </div>


  <div class="col-12 col-md-9">

    <div class="col-12 pb-3">
      <h2 class="text-center text-uppercase">Usuarios</h2>
    </div>

    <div class="tab-content" id="nav-tabContent">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
