<div class="container animate__fadeInLeft animate__animated login pt-4 mt-3 pb-4 " >
  <div class="row">
    <div class="col-12 col-md-8 text-justify">


      <h2 class="text-center">Bienvenido al sistema de inscripción online</h2>
      <h3 class="text-center font-weight-bold">Muy pronto estará disponible</h3>

      <div class="row text-center">

        <div class="col-12 mt-5 w-50 h-50">
          <img src="./assets/imgs/madre/cartaMadre.png" class="animate__animated animate__pulse animate__infinite w-50 h-50" alt="carta madre">
        </div>

        <div class=" col-12 row">
          <!-- <img src="./assets/imgs/madre/Madre.png" class="w-50 h-50 d-block mx-auto" alt="Madre imagen"> -->
          <div class="col-12 mt-3 mt-md-0 col-md-6">
            <h4>Estructura de costos</h4>
            <a class="btn btn-primary" href="./assets/pdf/ESTRUCTURA-DE-COSTOS-AÑO-ESCOLAR-2020-2021.pdf" target="_blank"><strong>Descargar</strong></a>
          </div>

          <div class="col-12 mt-3 mt-md-0 col-md-6">
            <h4>Matrícula escolar 2020-2021</h4>
            <a class="btn btn-primary" href="./assets/pdf/MATRICULA-AÑO-2020-2021-MM.pdf" target="_blank"><strong>Descargar</strong></a>
          </div>
        </div>

        <!-- <div class=" col-12 col-md-6">
          <img src="./assets/imgs/madre/ok.png" class="w-50 h-50 d-block mx-auto" alt="Madre imagen">
          <h4>Proyecto de inversión</h4>
          <button class="btn btn-primary"><strong>Descargar</strong></button>
        </div> -->
      </div>




    </div>
    <div class="col-12 col-md-4">
      <div class="row">
        <section class="col-12 ">
          <div class="row">
            <div class="col-12">
              <img src="./assets/Beatamaria2.png" style="height: 300px;" class="mw-100" alt="Beata">
            </div>
            <div class="col-12 pt-2 text-justify">
              <p>
                La Madre María nació en 1875 en plena persecución religiosa. Su padre no era católico practicante. Sin embargo, la madre era muy religiosa y la educó desdepequeña en la fe católica sin que su padre se opusiera directamente.
              </p>
              <p>
                La situación económica de Venezuela en esa época era desastrosa y de ahí que, desde pequeña, la futura santa se dedicó al cuidado de los enfermos, que sería durante toda su vida su dedicación especial, llegando a fundar con el padre Justo Vicente López Aveledo la Congregación religiosa de Agustinas Recoletas del Corazónde Jesús,que en la actualidad está llevando la fe y el amor de Dios a varios países del mundo. <a href="http://agustinasrecoletas.com/recursos/libros_mm/encuentro.pdf" target="_blank">Ver más</a>
              </p>
            </div>
          </div>
        </section>

        <!-- <div class="col-12 mt-3 mt-md-4 text-justify">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur reprehenderit consequuntur similique quis quam culpa optio ipsum nisi officiis quae, atque odio iste ullam est ipsa at vel provident doloribus!
        </div> -->

      </div>
    </div>
  </div>
</div>
