<div
  class="container animate__fadeInLeft animate__animated login pt-4 mt-3 pb-4"
>
  <div class="row">
    <div class="col-12 col-md-8 text-justify">
      <h2 class="text-center">Bienvenido al sistema de inscripción online</h2>
      <!-- <h3 class="text-center font-weight-bold">Muy pronto estará disponible</h3> -->

      <div class="row text-center">
        <div class="col-12 mt-5 w-50 h-50">
          <img
            src="./assets/imgs/madre/cartaMadre.png"
            class="animate__animated animate__pulse animate__infinite w-50 h-50"
            alt="carta madre"
          />
        </div>

        <div class="col-12 row text-center">
          <!-- <img src="./assets/imgs/madre/Madre.png" class="w-50 h-50 d-block mx-auto" alt="Madre imagen"> -->

          <div class="col-12 mt-3 mt-md-0 mb-md-3">
            <h4>Instructivo de inscripción</h4>
            <a
              class="btn btn-primary"
              href="./assets/pdf/INSTRUCTIVO-Inscripción-2020-2021.pdf"
              target="_blank"
              ><strong>Descargar</strong></a
            >
          </div>

          <div class="col-12 mt-3 mt-md-0 mb-md-3 col-md-6 ">
            <h4>Guía de usuario</h4>
            <a
              class="btn btn-primary"
              href="./assets/pdf/INSTRUCTIVO-PARA-SISTEMA-DE-INSCRIPCION.pdf"
              target="_blank"
              ><strong>Descargar</strong></a
            >
          </div>

          <div class="col-12 mt-3 mt-md-0 mb-md-3 col-md-6 ">
            <h4>Guía centro de ayuda</h4>
            <a
              class="btn btn-primary"
              href="./assets/pdf/INSTRUCTIVO-CENTRO-DE-AYUDA.pdf"
              target="_blank"
              ><strong>Descargar</strong></a
            >
          </div>

          <div class="col-12 mt-3 mt-md-0 col-md-6">
            <h4>Estructura de costos</h4>
            <a
              class="btn btn-primary"
              href="./assets/pdf/ESTRUCTURA-DE-COSTOS-AÑO-ESCOLAR-2020-2021.pdf"
              target="_blank"
              ><strong>Descargar</strong></a
            >
          </div>

          <div class="col-12 mt-3 mt-md-0 col-md-6">
            <h4>Consulta para aprobación de matrícula</h4>
            <a
              class="btn btn-primary"
              href="./assets/pdf/Consulta.pdf"
              target="_blank"
              ><strong>Descargar</strong></a
            >
          </div>
        </div>

        <div class="col-12">
          <hr>
          <h2 class="text-center">Lista de utiles escolares</h2>

          <ul class="list-group list-group-flush text-left">
            <li class="list-group-item">
              <a href="./assets/pdf/P.E.pdf" target="_blank">PREESCOLAR </a>
            </li>
            <li class="list-group-item">
              <a href="./assets/pdf/1-grado.pdf" target="_blank">1ER GRADO </a>
            </li>
            <li class="list-group-item">
              <a href="./assets/pdf/2-grado.pdf" target="_blank">2DO GRADO </a>
            </li>

            <li class="list-group-item">
              <a href="./assets/pdf/3-grado.pdf" target="_blank">3ER GRADO </a>
            </li>

            <li class="list-group-item">
              <a href="./assets/pdf/4-grado.pdf" target="_blank">4TO GRADO </a>
            </li>
            <li class="list-group-item">
              <a href="./assets/pdf/5-grado.pdf" target="_blank">5TO GRADO </a>
            </li>

            <li class="list-group-item">
              <a href="./assets/pdf/6-grado.pdf" target="_blank">6TO GRADO </a>
            </li>

            <li class="list-group-item">
              <a href="./assets/pdf/1-ano.pdf" target="_blank">1ER AÑO </a>
            </li>
            <li class="list-group-item">
              <a href="./assets/pdf/2-ano.pdf" target="_blank">2DO AÑO </a>
            </li>

            <li class="list-group-item">
              <a href="./assets/pdf/3-ano.pdf" target="_blank">3ER AÑO </a>
            </li>

            <li class="list-group-item">
              <a href="./assets/pdf/4-ano.pdf" target="_blank">4TO AÑO </a>
            </li>

            <li class="list-group-item">
              <a href="./assets/pdf/5-ano.pdf" target="_blank">5TO AÑO </a>
            </li>


          </ul>
        </div>


      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="row">
        <section class="col-12">
          <div class="row">
            <div class="col-12">
              <img
                src="./assets/Beatamaria2.png"
                style="height: 300px;"
                class="mw-100"
                alt="Beata"
              />
            </div>
            <div class="col-12 pt-2 text-justify">
              <p>
                La Madre María nació en 1875 en plena persecución religiosa. Su
                padre no era católico practicante. Sin embargo, la madre era muy
                religiosa y la educó desde pequeña en la fe católica sin que su
                padre se opusiera directamente.
              </p>
              <p>
                La situación económica de Venezuela en esa época era desastrosa
                y de ahí que, desde pequeña, la futura santa se dedicó al
                cuidado de los enfermos, que sería durante toda su vida su
                dedicación especial, llegando a fundar con el padre Justo
                Vicente López Aveledo la Congregación religiosa de Agustinas
                Recoletas del Corazónde Jesús,que en la actualidad está llevando
                la fe y el amor de Dios a varios países del mundo.
                <a
                  href="./assets/pdf/Libro-CAMINOS-DE-ESPERANZA.pdf"
                  target="_blank"
                  >Ver más</a
                >
              </p>
            </div>
          </div>
        </section>

        <!-- <div class="col-12 mt-3 mt-md-4 text-justify">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur reprehenderit consequuntur similique quis quam culpa optio ipsum nisi officiis quae, atque odio iste ullam est ipsa at vel provident doloribus!
        </div> -->
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  #modal
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title mx-auto text-uppercase" id="exampleModalLabel">
          Sistema inhabilitado
        </h5>
      </div>
      <div class="modal-body text-center">
        <img
          src="./assets/imgs/madre/6.png"
          class="w-75 mx-auto d-block h-50"
          alt="madre maria"
        />

        <p class="font-weight-bold text-center text-uppercase">
          Muy pronto estará disponible el sistema online
        </p>
      </div>
      <!-- <div class="modal-footer">

        <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-danger">Cerrar</button>
      </div> -->
    </div>
  </div>
</div>
