<div class="container login pt-4 mt-3 pb-4">
  <div class="row">
    <div class="col-12 col-md-8 text-justify">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia vel, culpa sapiente iste mollitia ipsa quo quisquam, sint iure quasi maxime facere doloribus rerum asperiores laborum non consequuntur corrupti distinctio.
      Quam molestias fugiat quia at corrupti rerum deleniti magnam. Quibusdam necessitatibus quas blanditiis aliquam rerum a esse, dolore soluta. Doloremque voluptatum a facilis omnis atque cum eius delectus ex illum.
      Ratione reiciendis labore amet consectetur aut quidem aperiam odio dignissimos, excepturi eius ut quibusdam delectus impedit dolores, nobis ducimus cumque consequatur voluptatem ullam maxime necessitatibus? Tempora velit mollitia molestias nobis.
      Adipisci voluptatibus, officia sunt nam velit accusantium similique natus? Aliquid quibusdam consequuntur ea animi iure dolor, vel asperiores saepe in consequatur magnam eius odio velit quisquam amet architecto voluptatum molestias.
      Aperiam, corporis fugiat nemo quas officia odio, mollitia vitae quos rerum dicta maiores. Ullam facere praesentium, unde qui quam temporibus quas adipisci tempore autem esse fugit voluptate? Nemo, consectetur mollitia!
      Fugiat magni dicta quo animi dolores autem dignissimos, quisquam neque repudiandae incidunt mollitia nisi ipsum tempora voluptatum inventore omnis repellat? Voluptatum totam obcaecati consectetur pariatur ea cupiditate fugiat labore repellendus!
      Sint aliquam vitae autem ex, distinctio sequi ad culpa molestiae nulla accusamus sapiente cupiditate unde in commodi ab nihil neque expedita eaque nisi harum modi voluptatem possimus praesentium eius! Quia?
      Vitae optio totam exercitationem, a iste suscipit sunt quidem ex perferendis pariatur unde tenetur velit dolores minus distinctio vero laborum cumque cum, aliquam aliquid, quisquam molestiae laudantium. Rerum, explicabo quaerat.
      Cupiditate numquam fuga pariatur consectetur culpa fugiat explicabo non suscipit quod voluptatum corrupti repellendus modi accusamus blanditiis neque quaerat, dolore sequi reprehenderit ad illo architecto assumenda velit? Deserunt, quaerat excepturi.
      Adipisci ducimus debitis, sequi cum quaerat delectus impedit eligendi exercitationem aperiam laboriosam ipsam autem unde quisquam consectetur, rem asperiores fugiat veniam ratione. Neque ipsa beatae placeat ut omnis ullam commodi.
      Quae non numquam obcaecati sunt, quod nemo ad vel. Iusto repellendus consequatur, minus eum repellat eaque laboriosam perferendis non ab quae. Perspiciatis minus quidem eaque! Dignissimos eaque neque necessitatibus itaque.
      Dolores laudantium sunt architecto perferendis nesciunt tempora deserunt alias esse aperiam ex. Ex, maiores, nemo recusandae quia sed facere eum omnis atque suscipit commodi quibusdam similique voluptas aspernatur deserunt unde.
      Accusamus debitis molestiae ad, nulla ratione eveniet placeat at dolorum ipsum est animi repudiandae, totam iure fuga vitae. Aspernatur sit voluptatibus velit eveniet architecto veniam praesentium quaerat odit hic natus.
      Officia excepturi cumque veniam voluptates deleniti beatae doloremque velit voluptate, neque quaerat nam nemo provident aliquam eaque saepe fuga facilis quod placeat sequi consequatur maiores! Dolores non quia natus asperiores.
      Quo quae exercitationem consectetur eligendi fuga laudantium, delectus, quod cupiditate voluptates explicabo similique tempore blanditiis ducimus dolorum, laboriosam porro voluptatem incidunt voluptas facere! Suscipit doloremque perspiciatis beatae. Ratione, quidem eum.
      Nesciunt dolores fuga aliquam reprehenderit sequi est consequuntur repellendus distinctio corporis vel iure, tenetur sed? Eaque ullam quaerat, sit provident quos amet nostrum reprehenderit nobis eveniet ut similique harum! Illo!
      Necessitatibus similique error laborum dolore tempora saepe non iusto enim quas, officia consequuntur reiciendis, nam ea quae ipsa quam officiis ex quibusdam commodi provident eum! Exercitationem eos modi quas. Animi.
      Sed quod sint, culpa consectetur qui vitae quibusdam harum tenetur! Est a laboriosam facere optio perferendis nostrum asperiores quod molestiae unde velit hic laborum iure illo possimus,
    </div>
    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-12 text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit vero obcaecati optio possimus ullam nesciunt eligendi ea, nobis rem suscipit dolorum quam ipsam expedita quod. Quos, quidem. Quae, ad ea.
        </div>

        <div class="col-12 mt-3 mt-md-5 text-justify">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur reprehenderit consequuntur similique quis quam culpa optio ipsum nisi officiis quae, atque odio iste ullam est ipsa at vel provident doloribus!
        </div>

        <div class="col-12 mt-3 mt-md-5 text-justify">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur reprehenderit consequuntur similique quis quam culpa optio ipsum nisi officiis quae, atque odio iste ullam est ipsa at vel provident doloribus!
        </div>

        <div class="col-12 mt-3 mt-md-5 text-justify">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur reprehenderit consequuntur similique quis quam culpa optio ipsum nisi officiis quae, atque odio iste ullam est ipsa at vel provident doloribus!
        </div>

        <div class="col-12 mt-3 mt-md-5 text-justify">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur reprehenderit consequuntur similique quis quam culpa optio ipsum nisi officiis quae, atque odio iste ullam est ipsa at vel provident doloribus!
        </div>

        <div class="col-12 mt-3 mt-md-5 text-justify">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur reprehenderit consequuntur similique quis quam culpa optio ipsum nisi officiis quae, atque odio iste ullam est ipsa at vel provident doloribus!
        </div>
      </div>
    </div>
  </div>
</div>
