<app-modal-inhabilitado></app-modal-inhabilitado>

<div class="container animate__animated  animate__fadeInLeft login pt-4 mt-3">
  <form class="was-validated" (ngSubmit)="formRegistro()" [formGroup]="form">
    <small class="text-danger col-12">Los campos marcados con ( * ) son requeridos</small>
    <fieldset>
      <legend>Datos del estudiante</legend>
      <div class="row">



        <div class="col-sm-6 form-group">
          <label for="tipo_solicitud">Tipo de registro: *</label>
          <select name="tipo_solicitud"  formControlName="tipo_solicitud"  class="form-control" placeholder="Tipo de registro" required >
            <option value="" selected disabled>Seleccione un registro</option>
            <option value="Nuevo ingreso">Nuevo ingreso</option>
            <option value="Ratificación">Ratificación</option>
            <option value="Preescolar">Preescolar</option>

          </select>
        </div>

        <div class="col-sm-6 form-group">
          <label for="grado_solicitud">Solicitud: *</label>
          <select name="grado_solicitud" class="form-control"  required  formControlName="grado_solicitud" >
            <option value="" disabled selected>Seleccione un grado</option>

              <option  [value]="gra" *ngFor="let gra of grados" >{{gra}}</option>

          </select>
        </div>






        <div class="col-md-4 col-sm-6 form-group">
          <label for="nacionalidad_estudiante">Nacionalidad: *</label>

          <select name="nacionalidad_estudiante"  class="form-control" required formControlName="nacionalidad_estudiante" >
            <option value="" disabled selected>Seleccione una nacionalidad</option>
            <option *ngFor="let nacio of nacionalidad" [value]="nacio.letraIdentificacion">{{nacio.identificacion}}</option>
          </select>
        </div>

        <div class="col-md-4 col-sm-6 form-group">
          <label for="cedula_estudiante">Cédula: *</label>
          <input   maxlength="11"
          required autocomplete="off" type="text" class="form-control" name="cedula_estudiante"  placeholder="Ej: 12345678" formControlName="cedula_estudiante" pattern="[0-9]+"
          />
        </div>

        <!-- [cedula]="{tipo:'estudiante', nacionalidad:form.controls['nacionalidad_estudiante'].value}"  -->



        <div class="col-md-4 col-sm-6 form-group">
          <label for="nombres_estudiante">Nombres: *</label>
          <input required autocomplete="off" type="text" class="form-control" name="nombres_estudiante" placeholder="Ej: Angelica de los Angeles"  formControlName="nombres_estudiante" />

        </div>

        <div class="col-md-4 col-sm-6 form-group">
          <label for="apellidos_estudiante">Apellidos: *</label>
          <input required
          autocomplete="off"
          formControlName="apellidos_estudiante"
            type="text"
            class="form-control"
            name="apellidos_estudiante"
            placeholder="Ej: Hernandez Fernandez"
          />
        </div>


        <div class="col-md-4 col-sm-6 form-group">
          <label for="lugar_nacimiento">Lugar de nacimiento: *</label>
          <input required autocomplete="off" type="text" class="form-control" name="lugar_nacimiento" placeholder="Ej: Coro"   formControlName="lugar_nacimiento" />
        </div>

        <div class="col-md-4 col-sm-6 form-group">
          <label for="fecha_nacimiento">Fecha de nacimiento: *</label>
          <input required autocomplete="off" type="date" class="form-control" name="fecha_nacimiento"    formControlName="fecha_nacimiento" />
        </div>

        <div class="col-md-4 col-sm-6 form-group">
          <label for="estado">Estado: *</label>
          <input required autocomplete="off" type="text" class="form-control" name="estado" placeholder="Ej: Falcón"  formControlName="estado"  />
        </div>

        <div class="col-md-4 col-sm-6 form-group">
          <label for="pais">País: *</label>
          <input required autocomplete="off" type="text" class="form-control" name="pais" placeholder="Ej: Venezuela"  formControlName="pais" />
        </div>

        <div class="col-md-4 col-sm-6 form-group">
          <label for="lateralidad">Lateralidad: *</label>
          <select class="form-control"  formControlName="lateralidad" name="lateralidad" required >
            <option value="" disabled selected >Seleccione una lateralidad</option>
            <option *ngFor="let latera of lateraldad" [value]="latera">{{latera}}</option>
          </select>
        </div>

        <div class="col-md-4 col-12 form-group">
          <label for="casa_hogar">¿Pertenece a la casa hogar? *</label>
          <select formControlName="casa_hogar" class="form-control" name="casa_hogar" required>
            <option value="">Seleccione</option>
            <option value="Si">Si</option>
            <option value="No">No</option>
          </select>
        </div>

        <div class="col-md-4 col-sm-6 form-group">
          <label for="sangre_estudiante">Tipo de sangre: *</label>
          <select name="sangre_estudiante" required class="form-control" formControlName="sangre_estudiante" >
            <option value="">Seleccione tipo de sangre</option>
            <option *ngFor="let sangre of tipoSangre" [value]="sangre">{{sangre}}</option>
          </select>
        </div>

        <div class="col-md-4 col-sm-6 form-group">
          <label for="factor_rh">Factor Rh: *</label>
          <select formControlName="factor_rh" required name="factor_rh" class="form-control" >
            <option value="" selected>Seleccione un Factor Rh</option>
            <option *ngFor="let factor of factorRH" [value]="factor"> {{factor}}</option>
          </select>
        </div>


        <div class="col-md-4 col-sm-6 form-group">
          <label for="email_estudiante">Email:</label>
          <input autocomplete="off" type="email" class="form-control" name="email_estudiante" placeholder="Ej: ejemplo@ejempo.com"  formControlName="email_estudiante" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" />
        </div>

        <div class="col-md-4 col-sm-6 form-group">
          <label for="celular_estudiante">Celular: </label>
          <input  type="text" name="celular_estudiante" class="form-control" formControlName="celular_estudiante" pattern="[0-9]+" placeholder="Ej: 04160000000">
        </div>




        <div class="col-md-4 col-sm-6 form-group" *ngIf="getControls('tipo_solicitud').value === 'Preescolar'">
          <label for="guarderia">Guardería: </label>
          <select type="text" name="guarderia" class="form-control"   formControlName="guarderia" [required]="getControls('guarderia').hasError('required')"

          >
          <option value="">Seleccione</option>
          <option value="Si">Si</option>
          <option value="No">No</option>
        </select>
        </div>

      </div>
    </fieldset>


    <fieldset>
      <legend>Datos del representante</legend>
      <div class="row">



        <div class="col-md-4 col-sm-6 form-group">
          <label for="nacionalidad_representante">Nacionalidad: *</label>
          <select name="nacionalidad_representante"  class="form-control" required formControlName="nacionalidad_representante">
            <option value="" disabled selected>Seleccione una nacionalidad</option>
            <option *ngFor="let nacio of nacionalidad" [value]="nacio.letraIdentificacion">{{nacio.identificacion}}</option>
          </select>
        </div>

        <div class="col-md-4 col-sm-6 form-group">
          <label for="cedula_representante">Cédula: *</label>
          <input  required autocomplete="off" type="text" class="form-control" name="cedula_representante" placeholder="Ej: 00000000" formControlName="cedula_representante" pattern="[0-9]+"  maxlength="11"

          />
        </div>

        <!--  [cedula]="{tipo:'representante', nacionalidad:form.controls['nacionalidad_representante'].value}"  -->


        <div class="col-md-4 col-sm-6 form-group">
          <label for="nombres_representante">Nombres: *</label>
          <input autocomplete="off" type="text" class="form-control" name="nombres_representante" placeholder="Ej: Angela Maritza" required formControlName="nombres_representante"   />
        </div>

        <div class="col-md-4 col-sm-6 form-group">
          <label for="apellidos_representante">Apellidos: *</label>
          <input required autocomplete="off" type="text" class="form-control" name="apellidos_representante" placeholder="Ej: Hernandez Suarez" formControlName="apellidos_representante"  />
        </div>

        <div class="col-md-4 col-sm-6 form-group">
          <label for="parentesco">Parentesco: *</label>
          <input required autocomplete="off" type="text" class="form-control" name="parentesco" placeholder="Ej: Padre, Madre"  formControlName="parentesco" />
        </div>

        <div class="col-md-4 col-sm-6 form-group">
          <label for="celular_representante">Celular: *</label>
          <input required autocomplete="off" type="text" class="form-control" name="celular_representante" placeholder="04140000000"  formControlName="celular_representante"  pattern="[0-9]+" maxlength="11"/>
        </div>

        <div class="col-md-4 col-sm-6 form-group">
          <label for="email">Email: *</label>
          <input required autocomplete="off" type="text" class="form-control" name="email"  placeholder="Ej: ejemplo@ejemplo.com" formControlName="email" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" />
        </div>

        <div class="col-md-4 col-sm-6 form-group">
          <label for="ocupacion_representante">Ocupación: *</label>
          <input required autocomplete="off" type="text" class="form-control" name="ocupacion_representante" placeholder="Ej: Vendedor" formControlName="ocupacion_representante"  />
        </div>

        <div class="col-md-4 col-sm-6 form-group">
          <label for="tlf_representante">Teléfono: *</label>
          <input autocomplete="off" type="text" required class="form-control" name="tlf_representante"  placeholder="Ej: 0243000000" formControlName="tlf_representante"  pattern="[0-9]+"  maxlength="11"/>
        </div>


        <div class="col-12 form-group">
          <small class="text-danger"> El email del representante sera el medio de comunicación entre la institución y usted </small>
        </div>

      </div>
    </fieldset>

    <fieldset>
      <legend>Datos para inicio de sesión</legend>
      <div class="row">
        <div class="col-md-6">
          <label for="inicioSesion">Usuario:</label>
          <input autocomplete="off" name="inicioSesion" formControlName="usuario"  type="text" class="form-control" placeholder="Ej: V000000" />
        </div>
        <div class="col-md-6">
          <label for="password">Contraseña: *</label>
          <input autocomplete="off" required name="password" type="password" class="form-control" placeholder="Escriba su contraseña" formControlName="password" />
        </div>
      </div>
    </fieldset>


    <div class="form-group text-center ">
      <button type="submit"  class="btn btn-primary mb-3 mt-3 text-uppercase">
        Registrar Estudiante
      </button>
    </div>
  </form>
</div>
